{% extends "base.html" %}
{% block title %}blog list{% endblock %}
{% block content %}
    <div class="row text-left vertical-middle-sm">
        <h3 style="padding-left: 3.2%;">欢迎访问洪帅的个人博客~</h3>
    </div>
    <div class="row" style="padding-top: 1.2%">
        <div class="col-xs-12 col-md-8">
            <ul>
               {% for blog in blogs %}
                   <li><a href="{{ blog.id }}">{{ blog.title }}</a></li>
               {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6 col-md-4">
            <h3 style="font-weight: bolder">Personal Information:</h3>
            <h4>HongSh</h4>
            <p>
                Tags: C#, Unity, VirtualReality, DeepLearning, Python<br>
                Email：hjmrezl@outlook.com<br>
                Address: Nanjing, Jiangsu<br>
            </p>
            <img width="320px"
                 src="/static/images/02.jpg">
        </div>
    </div>
{% endblock %}
